.edit{
    background-color:#63D0FF !important;
    .who{
        
        top:69% !important;
        color:#63D0FF !important;
        border:1px #63D0FF solid !important;
        &:hover{
            background:#63D0FF !important;
            border:1px white solid !important;
            color:white !important;
        }
    }
    .copyright{
        top:74% !important;
    }
    #trial{opacity: 1 !important;}
    
}

