@import url("//hello.myfonts.net/count/2760f4");
@import url("//hello.myfonts.net/count/276103");
@font-face {
  font-family: 'u47';
  src: url("../join/type/u47/2760F4_0_0.eot");
  src: url("../join/type/u47/2760F4_0_0.eot?#iefix") format("embedded-opentype"), url("../join/type/u47/2760F4_0_0.woff") format("woff"), url("../join/type/u47/2760F4_0_0.ttf") format("truetype"), url("../join/type/u47/2760F4_0_0.svg#wf") format("svg"); }

@font-face {
  font-family: 'u39';
  src: url("../join/type/u39/276103_0_0.eot");
  src: url("../join/type/u39/276103_0_0.eot?#iefix") format("embedded-opentype"), url("../join/type/u39/276103_0_0.woff") format("woff"), url("../join/type/u39/276103_0_0.ttf") format("truetype"), url("../join/type/u39/276103_0_0.svg#wf") format("svg"); }

@font-face {
  font-family: 'u67';
  src: url("../join/type/u67/276103_1_0.eot");
  src: url("../join/type/u67/276103_1_0.eot?#iefix") format("embedded-opentype"), url("../join/type/u67/276103_1_0.woff") format("woff"), url("../join/type/u67/276103_1_0.ttf") format("truetype"), url("../join/type/u67/276103_1_0.svg#wf") format("svg"); }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a img {
  border: none; }

a {
  border: none;
  text-decoration: none; }

::selection {
  /*background: #;*/ }

::-moz-selection {
  /*background: #;*/ }

body {
  font-family: u47, Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0px;
  overflow: hidden; }

#master {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  line-height: 18px;
  font-size: 14px;
  overflow: hidden; }

#edit {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0px;
  height: 200%;
  width: 100%; }

#movement {
  position: absolute;
  height: 100%;
  width: 400%;
  top: 0px; }

.ready #movement, .ready #edit, .ready .red, .ready .red .left * {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.first {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%); }

.second {
  -webkit-transform: translateX(-25%);
  -moz-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  -o-transform: translateX(-25%);
  transform: translateX(-25%); }
  .second .red .left * {
    left: 0px; }

.third {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
  .third .red .left * {
    left: 314%; }

.fourth {
  -webkit-transform: translateX(-75%);
  -moz-transform: translateX(-75%);
  -ms-transform: translateX(-75%);
  -o-transform: translateX(-75%);
  transform: translateX(-75%); }
  .fourth .red .left * {
    left: 613.6%; }

.editing {
  -webkit-transform: translateY(0%) !important;
  -moz-transform: translateY(0%) !important;
  -ms-transform: translateY(0%) !important;
  -o-transform: translateY(0%) !important;
  transform: translateY(0%) !important; }

.down.second {
  -webkit-transform: translateX(-25%) translateY(100%);
  -moz-transform: translateX(-25%) translateY(100%);
  -ms-transform: translateX(-25%) translateY(100%);
  -o-transform: translateX(-25%) translateY(100%);
  transform: translateX(-25%) translateY(100%); }

.down.third {
  -webkit-transform: translateX(-50%) translateY(100%);
  -moz-transform: translateX(-50%) translateY(100%);
  -ms-transform: translateX(-50%) translateY(100%);
  -o-transform: translateX(-50%) translateY(100%);
  transform: translateX(-50%) translateY(100%); }

.down.fourth {
  -webkit-transform: translateX(-75%) translateY(100%);
  -moz-transform: translateX(-75%) translateY(100%);
  -ms-transform: translateX(-75%) translateY(100%);
  -o-transform: translateX(-75%) translateY(100%);
  transform: translateX(-75%) translateY(100%); }

.me, .front, .grid, .red {
  position: relative;
  float: left;
  height: 100%;
  top: 0px; }

.me {
  width: 25%; }

.front, .grid {
  width: 20%; }

.red {
  width: 35%; }

.me {
  background-size: cover;
  overflow: hidden; }
  .me .me_img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px; }
    .me .me_img #me_blur, .me .me_img #me_clean {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px; }
      .me .me_img #me_blur img, .me .me_img #me_clean img {
        display: block;
        position: relative;
        margin: auto; }
    .me .me_img .not {
      opacity: 0; }
  .me .meme {
    position: absolute;
    width: 25%;
    height: 25%;
    cursor: pointer;
    display: table; }
    .me .meme p {
      color: white;
      z-index: 2;
      opacity: 1 !important;
      position: absolute;
      width: 108px;
      height: 84px;
      top: 50%;
      left: 50%;
      margin: -42px 0px 0px -54px;
      text-align: center; }
      .me .meme p span {
        font-family: u39;
        font-size: 79px;
        margin: 30px 24px 0px 20px;
        display: block; }
    .me .meme #megrey {
      background-color: rgba(0, 0, 0, 0.8);
      width: 150px;
      height: 150px;
      border-radius: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -75px 0px 0px -75px;
      float: none;
      display: block;
      padding: 0px; }
      .me .meme #megrey:hover {
        border: none !important; }
    .me .meme:hover {
      border: none !important; }
      .me .meme:hover #megrey {
        background-color: red !important; }
      .me .meme:hover p {
        color: black; }
  .me .meback {
    position: absolute;
    width: 25%;
    height: 25%;
    padding: 0px;
    cursor: pointer; }
    .me .meback #mebackwhite {
      background-color: white;
      width: 140px;
      height: 140px;
      border-radius: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -70px 0px 0px -70px;
      float: none;
      display: block;
      padding: 0px; }
      .me .meback #mebackwhite:hover {
        border: none !important; }
    .me .meback img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      margin: -26px 0px 0px -50px;
      z-index: 2; }
    .me .meback:hover {
      border: none !important; }
      .me .meback:hover #mebackwhite {
        background-color: grey; }
  .me .me_bit {
    position: absolute;
    width: 25%;
    height: 25%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0); }
    .me .me_bit:hover {
      border: 1px black solid; }
    .me .me_bit .me_float {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      height: 100%;
      width: 100%;
      position: absolute; }
      .me .me_bit .me_float .me_txt {
        padding: 10%;
        display: table;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px; }
        .me .me_bit .me_float .me_txt p {
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          display: table-cell;
          vertical-align: middle;
          opacity: 0;
          color: white; }
  .me .me_x1 {
    left: 0%; }
  .me .me_x2 {
    left: 25%; }
  .me .me_x3 {
    left: 50%; }
  .me .me_x4 {
    left: 75%; }
  .me .me_y1 {
    top: 0%; }
  .me .me_y2 {
    top: 25%; }
  .me .me_y3 {
    top: 50%; }
  .me .me_y4 {
    top: 75%; }
  .me .up:hover {
    border: none; }
  .me .up .me_float {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 15px;
    top: -3px; }
    .me .up .me_float .me_txt p {
      opacity: 1 !important; }

.front {
  overflow: hidden; }
  .front #cubic {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
    width: 819px;
    height: 672px;
    margin: -336px 0px 0px -409.5px; }
  .front .name {
    text-align: left;
    opacity: 1;
    cursor: pointer; }
    .front .name p {
      font-size: 28px;
      -webkit-transform: scale3d(0.5, 0.5, 1);
      -moz-transform: scale3d(0.5, 0.5, 1);
      -ms-transform: scale3d(0.5, 0.5, 1);
      -o-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1); }
  .front #shapeshifter {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 137px;
    height: 147px;
    margin: -73.5px 0px 0px -68.5px;
    z-index: 100;
    display: none; }
    .front #shapeshifter div {
      position: absolute;
      width: 137px;
      height: 147px;
      display: none; }

.ssi {
  display: none; }

.cube {
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
  z-index: 10; }

.cube div {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 120px;
  font-weight: bold;
  color: white;
  text-align: center; }

.cube .cubefront {
  -webkit-transform: translateZ(25px);
  -moz-transform: translateZ(25px);
  -ms-transform: translateZ(25px);
  -o-transform: translateZ(25px);
  transform: translateZ(25px); }

.cube .cubeback {
  -webkit-transform: rotateX(-180deg) translateZ(25px);
  -moz-transform: rotateX(-180deg) translateZ(25px);
  -ms-transform: rotateX(-180deg) translateZ(25px);
  -o-transform: rotateX(-180deg) translateZ(25px);
  transform: rotateX(-180deg) translateZ(25px); }

.cube .cuberight {
  -webkit-transform: rotateY(90deg) translateZ(25px);
  -moz-transform: rotateY(90deg) translateZ(25px);
  -ms-transform: rotateY(90deg) translateZ(25px);
  -o-transform: rotateY(90deg) translateZ(25px);
  transform: rotateY(90deg) translateZ(25px); }

.cube .cubeleft {
  -webkit-transform: rotateY(-90deg) translateZ(25px);
  -moz-transform: rotateY(-90deg) translateZ(25px);
  -ms-transform: rotateY(-90deg) translateZ(25px);
  -o-transform: rotateY(-90deg) translateZ(25px);
  transform: rotateY(-90deg) translateZ(25px); }

.cube .cubetop {
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px); }

.cube .cubebottom {
  -webkit-transform: rotateX(-90deg) translateZ(25px);
  -moz-transform: rotateX(-90deg) translateZ(25px);
  -ms-transform: rotateX(-90deg) translateZ(25px);
  -o-transform: rotateX(-90deg) translateZ(25px);
  transform: rotateX(-90deg) translateZ(25px); }

.r1 div {
  background-color: rgba(230, 0, 140, 0.2); }

.r2 div {
  background-color: rgba(247, 148, 30, 0.2); }

.r3 div {
  background-color: rgba(141, 198, 63, 0.2); }

.r4 div {
  background-color: rgba(0, 166, 81, 0.2); }

.r5 div {
  background-color: rgba(0, 174, 239, 0.2); }

.r6 div {
  background-color: rgba(169, 124, 80, 0.2); }

.r7 div {
  background-color: rgba(0, 104, 56, 0.2); }

.r8 div {
  background-color: rgba(138, 157, 167, 0.2); }

.r9 div {
  background-color: rgba(237, 28, 36, 0.2); }

.red {
  z-index: 200;
  background-color: #c50000;
  color: white;
  overflow: hidden; }
  .red > div {
    position: relative;
    float: left;
    height: 100%;
    top: 0px; }
  .red .left {
    width: 14%;
    left: .16%; }
    .red .left .title, .red .left .who, .red .left .copyright {
      position: relative;
      margin: auto;
      text-align: center; }
    .red .left .title {
      font-family: u39;
      font-size: 53px;
      top: 10%;
      width: 72px;
      z-index: 100;
      cursor: pointer; }
    .red .left .who {
      top: 76%;
      font-size: 20px;
      height: 40px;
      width: 40px;
      padding: 12px;
      border-radius: 40px;
      background: white;
      color: #c50000;
      border: 1px #c50000 solid;
      z-index: 200;
      -webkit-transition: top 1s ease-in-out !important;
      -moz-transition: top 1s ease-in-out !important;
      -o-transition: top 1s ease-in-out !important;
      transition: top 1s ease-in-out !important; }
      .red .left .who:hover {
        background: #c50000;
        border: 1px white solid;
        color: white;
        height: 39px;
        width: 39px;
        cursor: pointer;
        margin-bottom: 1px; }
    .red .left .copyright {
      top: 81%;
      width: 33px;
      font-size: 11px;
      line-height: 12px;
      text-align: center; }
    .red .left #trial {
      font-family: u47;
      font-size: 14px;
      width: 104%;
      position: relative;
      float: left;
      left: -2%;
      height: 30px;
      border: 0px;
      margin: auto;
      display: block;
      top: 76%;
      z-index: 200;
      outline: 0px !important;
      text-align: center;
      opacity: 0; }
  .red .middle {
    width: 72%; }
    .red .middle #loadr {
      position: absolute;
      width: 308px;
      height: 173px;
      left: 50%;
      top: 50%;
      margin: -68.5px 0px 0px -137px;
      overflow: hidden;
      background-image: url(../join/img/loadr.png); }
    .red .middle .load_0 {
      background-position-x: 0px; }
    .red .middle .load_1 {
      background-position-x: -308px; }
    .red .middle .load_2 {
      background-position-x: -616px; }
    .red .middle .load_3 {
      background-position-x: -924px; }
    .red .middle .load_4 {
      background-position-x: -1232px; }
    .red .middle .load_5 {
      background-position-x: -1540px; }
    .red .middle .load_6 {
      background-position-x: -1848px; }
    .red .middle .load_7 {
      background-position-x: -2156px; }
    .red .middle .load_8 {
      background-position-x: -2464px; }
    .red .middle .load_9 {
      background-position-x: -2772px; }
  .red .right {
    width: 13.6%; }
    .red .right .crumb {
      height: 175px;
      width: 175px;
      background-color: white;
      border-radius: 500px;
      position: relative;
      margin: auto;
      top: 50%;
      margin-top: -87.5px; }
      .red .right .crumb #crumbput {
        margin: auto;
        position: relative;
        width: 20px;
        height: 116px; }
        .red .right .crumb #crumbput .crumbcube {
          position: absolute;
          cursor: pointer; }
        .red .right .crumb #crumbput .ccs div {
          border: 1px white solid; }
        .red .right .crumb #crumbput .ccs:hover div {
          -webkit-animation: throb 1s infinite;
          -moz-animation: throb 1s infinite;
          -ms-animation: throb 1s infinite;
          -o-animation: throb 1s infinite;
          animation: throb 1s infinite; }
        .red .right .crumb #crumbput .crumbface {
          position: absolute;
          width: 27px;
          height: 27px; }
        .red .right .crumb #crumbput .cr_top {
          -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
          -moz-transform: rotate(-45deg) skew(15deg, 15deg);
          -ms-transform: rotate(-45deg) skew(15deg, 15deg);
          -o-transform: rotate(-45deg) skew(15deg, 15deg);
          transform: rotate(-45deg) skew(15deg, 15deg); }
        .red .right .crumb #crumbput .cr_left {
          -webkit-transform: rotate(15deg) skew(15deg, 15deg);
          -moz-transform: rotate(15deg) skew(15deg, 15deg);
          -ms-transform: rotate(15deg) skew(15deg, 15deg);
          -o-transform: rotate(15deg) skew(15deg, 15deg);
          transform: rotate(15deg) skew(15deg, 15deg);
          top: 22px;
          left: -12px; }
        .red .right .crumb #crumbput .cr_right {
          -webkit-transform: rotate(-15deg) skew(-15deg, -15deg);
          -moz-transform: rotate(-15deg) skew(-15deg, -15deg);
          -ms-transform: rotate(-15deg) skew(-15deg, -15deg);
          -o-transform: rotate(-15deg) skew(-15deg, -15deg);
          transform: rotate(-15deg) skew(-15deg, -15deg);
          top: 21px;
          left: 12px; }
    .red .right #instruct {
      position: absolute;
      margin: auto;
      width: 130px;
      height: 130px;
      padding: 49px 0px;
      text-align: center;
      top: 20%;
      left: 50%;
      margin-left: -62px; }
    .red .right .reinstruct {
      background-color: white;
      color: black;
      border-radius: 1000px; }
    .red .right #point {
      position: absolute;
      margin: auto;
      width: 100px;
      left: 50%;
      margin-left: -50px;
      top: 68%;
      cursor: pointer; }

.edit {
  background-color: #63D0FF !important; }
  .edit .who {
    top: 69% !important;
    color: #63D0FF !important;
    border: 1px #63D0FF solid !important; }
    .edit .who:hover {
      background: #63D0FF !important;
      border: 1px white solid !important;
      color: white !important; }
  .edit .copyright {
    top: 74% !important; }
  .edit #trial {
    opacity: 1 !important; }

.grid .floater {
  width: 150%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 10px; }
  .grid .floater .vertical, .grid .floater .horzontal, .grid .floater .square_small, .grid .floater .square_large {
    overflow: hidden;
    float: left;
    position: relative; }
    .grid .floater .vertical p, .grid .floater .horzontal p, .grid .floater .square_small p, .grid .floater .square_large p {
      padding: 10px;
      margin: 0px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      display: none; }
  .grid .floater .stats #stats_closed {
    height: 150px;
    width: 150px;
    border-radius: 300px;
    background-color: #ccc;
    display: table; }
    .grid .floater .stats #stats_closed span {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-style: italic;
      font-family: georgia;
      font-size: 82px;
      color: white;
      cursor: pointer; }
    .grid .floater .stats #stats_closed:hover {
      background-color: white;
      height: 149px;
      width: 149px;
      border: 1px #ccc solid; }
      .grid .floater .stats #stats_closed:hover span {
        color: #ccc; }
  .grid .floater .stats #stats_open {
    padding-top: 20px; }
    .grid .floater .stats #stats_open p {
      margin: 0px;
      width: 100%; }
    .grid .floater .stats #stats_open .stat_full, .grid .floater .stats #stats_open .stat_small, .grid .floater .stats #stats_open .stat_text {
      position: relative;
      float: left;
      padding: 0px 20px; }
    .grid .floater .stats #stats_open .stat_full, .grid .floater .stats #stats_open .stat_small {
      height: 74px; }
      .grid .floater .stats #stats_open .stat_full p:nth-child(1), .grid .floater .stats #stats_open .stat_small p:nth-child(1) {
        font-size: 1em; }
      .grid .floater .stats #stats_open .stat_full p:nth-child(2), .grid .floater .stats #stats_open .stat_small p:nth-child(2) {
        font-size: 2em;
        margin: 2px 0px 0px -1px; }
    .grid .floater .stats #stats_open .stat_full {
      width: 100%; }
    .grid .floater .stats #stats_open .stat_small {
      width: 50%; }
    .grid .floater .stats #stats_open .stat_text {
      width: 100%; }
    .grid .floater .stats #stats_open .stat_link {
      height: 52px;
      width: 100%;
      position: absolute;
      bottom: 0px;
      background-color: #ccc; }
      .grid .floater .stats #stats_open .stat_link p {
        text-align: center;
        color: white;
        font-size: 2em;
        margin-top: 12px; }
      .grid .floater .stats #stats_open .stat_link a {
        color: inherit; }
      .grid .floater .stats #stats_open .stat_link:hover {
        background-color: white; }
        .grid .floater .stats #stats_open .stat_link:hover p {
          color: #ccc; }
  .grid .floater .s_close {
    height: 150px;
    width: 150px; }
    .grid .floater .s_close #stats_closed {
      display: table; }
    .grid .floater .s_close #stats_open {
      display: none; }
  .grid .floater .s_open {
    border: 1px #ccc solid;
    height: 449px;
    width: 300px; }
    .grid .floater .s_open #stats_closed {
      display: none; }
    .grid .floater .s_open #stats_open {
      display: block; }
  .grid .floater .bg_vert {
    background-size: 450px auto; }
  .grid .floater .bg_horiz {
    background-size: auto 450px; }
  .grid .floater .vertical {
    height: 300px;
    width: 150px; }
  .grid .floater .horzontal {
    height: 150px;
    width: 300px; }
  .grid .floater .square_small {
    height: 150px;
    width: 150px; }
  .grid .floater .square_large {
    height: 300px;
    width: 300px; }
  .grid .floater .open {
    height: 450px;
    width: 450px; }
    .grid .floater .open:hover p {
      display: block; }

#nope {
  height: 280px;
  width: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -115px;
  display: none; }
  #nope h1 {
    font-family: u39;
    text-align: center;
    font-size: 65px;
    font-weight: normal; }

.old #edit, .old #movement {
  display: none; }
.old #nope {
  display: block; }

.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity; }

@-webkit-keyframes throb {
  0%, 100% {
    border: 1px white solid; }

  50% {
    border: 5px white solid; } }

@-moz-keyframes throb {
  0%, 100% {
    border: 1px white solid; }

  50% {
    border: 5px white solid; } }

@-ms-keyframes throb {
  0%, 100% {
    border: 1px white solid; }

  50% {
    border: 5px white solid; } }

@-o-keyframes throb {
  0%, 100% {
    border: 1px white solid; }

  50% {
    border: 5px white solid; } }

@keyframes throb {
  0%, 100% {
    border: 1px white solid; }

  50% {
    border: 5px white solid; } }
