
@import url("//hello.myfonts.net/count/2760f4");
@import url("//hello.myfonts.net/count/276103");
  
@font-face {
    font-family: 'u47';
    src: url('../join/type/u47/2760F4_0_0.eot');
    src: url('../join/type/u47/2760F4_0_0.eot?#iefix') format('embedded-opentype'),
         url('../join/type/u47/2760F4_0_0.woff') format('woff'),
         url('../join/type/u47/2760F4_0_0.ttf') format('truetype'),
         url('../join/type/u47/2760F4_0_0.svg#wf') format('svg');
}


@font-face {
    font-family: 'u39';
    src: url('../join/type/u39/276103_0_0.eot');
    src: url('../join/type/u39/276103_0_0.eot?#iefix') format('embedded-opentype'),
         url('../join/type/u39/276103_0_0.woff') format('woff'),
         url('../join/type/u39/276103_0_0.ttf') format('truetype'),
         url('../join/type/u39/276103_0_0.svg#wf') format('svg');
}
 
  
@font-face {
    font-family: 'u67';
    src: url('../join/type/u67/276103_1_0.eot');
    src: url('../join/type/u67/276103_1_0.eot?#iefix') format('embedded-opentype'),
         url('../join/type/u67/276103_1_0.woff') format('woff'),
         url('../join/type/u67/276103_1_0.ttf') format('truetype'),
         url('../join/type/u67/276103_1_0.svg#wf') format('svg');
}

@mixin transition($property, $time, $ease){
    -webkit-transition: $property $time $ease;
    -moz-transition: $property $time $ease;
    -o-transition: $property $time $ease;
    transition: $property $time $ease;
}

@mixin delay($time){
    -webkit-transition-delay: $time;
    -moz-transition-delay: $time;
    -o-transition-delay: $time;
    transition-delay: $time;
}

@import "bourbon";

//DEFINES
$masterwidth: 1024px;
$offset: 25px;
$fade: cubic-bezier(0, 0.4, 0.63, 0.99);

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

a img{border:none;}
a{
	border:none;
	text-decoration: none;
}

::selection {
	/*background: #;*/
}

::-moz-selection {
	/*background: #;*/
}

body {
    font-family: u47, Helvetica, Arial, sans-serif;
    color: #444;
    margin: 0px;
    overflow: hidden;
}



#master{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
    line-height:18px;
    font-size:14px;
    overflow:hidden;   
}

#classy{
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-76px;
}

#edit{
    position: absolute;
    @include transform(translateY(-50%));
    left:0px;
    height:200%;
    width:100%;
}

#movement{
    position:absolute;
    height:100%;
    width:400%;
    top:0px;
}

.ready{
    #movement, #edit, .red, .red .left *{
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }
}


.first{@include transform(translateX(-0%));}
.second{
    @include transform(translateX(-25%));
    .red .left *{left:0px;}
}
.third{
    @include transform(translateX(-50%));
    .red .left *{left:314%;}
}
.fourth{
    @include transform(translateX(-75%));
    .red .left *{left:613.6%;}
}
.editing{ 
    -webkit-transform: translateY(0%) !important;
    -moz-transform: translateY(0%) !important;
    -ms-transform: translateY(0%) !important;
    -o-transform: translateY(0%) !important;
    transform: translateY(0%) !important;
}

.down.second{ @include transform(translateX(-25%) translateY(100%)); }
.down.third{ @include transform(translateX(-50%) translateY(100%)); }
.down.fourth{ @include transform(translateX(-75%) translateY(100%)); }

.me, .front, .grid, .red{
    position:relative;
    float:left;
    height:100%;
    top:0px;
}

.me{width:25%;}
.front, .grid{width:20%;}
.red{width:35%;}


@import 'me';
@import 'front';
@import 'cube';
@import 'red';
@import 'edit';
@import 'grid';
@import '_isotope';





#nope{
    height:280px;
    width:230px;
    position: absolute;
    top:50%;
    left:50%;
    margin:-140px 0 0 -115px;
    display:none;
    h1{
        font-family:u39;
        text-align: center;
        font-size: 65px;
        font-weight: normal;
    }
}

.old{
    #edit, #movement{display:none;}
    #nope{display:block;}
}









