.mobile .front #cubic {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
  overflow-y: scroll; }
.mobile .front .notyet {
  opacity: 0; }
.mobile .front .name p {
  display: none; }
.mobile .front #categ, .mobile .front #proje {
  width: 100%;
  height: 100%;
  position: absolute; }
  .mobile .front #categ #categ_carous, .mobile .front #categ #proje_carous, .mobile .front #proje #categ_carous, .mobile .front #proje #proje_carous {
    height: 100%;
    width: 100%;
    position: absolute; }
.mobile .front #categ .acateg {
  height: 46px;
  -webkit-transition: height .5s ease-in-out !important;
  -moz-transition: height .5s ease-in-out !important;
  -o-transition: height .5s ease-in-out !important;
  transition: height .5s ease-in-out !important; }
.mobile .front #categ .abreak {
  height: 1px;
  background-color: #ddd;
  border-left: 15px white solid;
  border-right: 15px white solid; }
.mobile .front #categ > div {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden; }
  .mobile .front #categ > div p {
    position: absolute;
    width: 100%;
    text-align: center; }
  .mobile .front #categ > div .mobileproj {
    position: absolute;
    top: 46px;
    height: 250px;
    width: 100%; }
    .mobile .front #categ > div .mobileproj .mobilerotate {
      position: absolute;
      height: 100%;
      width: 100%;
      -webkit-transform: rotateX(20deg) rotateY(15deg) rotateZ(15deg);
      -moz-transform: rotateX(20deg) rotateY(15deg) rotateZ(15deg);
      -ms-transform: rotateX(20deg) rotateY(15deg) rotateZ(15deg);
      -o-transform: rotateX(20deg) rotateY(15deg) rotateZ(15deg);
      transform: rotateX(20deg) rotateY(15deg) rotateZ(15deg);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      z-index: 100; }
    .mobile .front #categ > div .mobileproj .mobilepreview {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 1000px; }
      .mobile .front #categ > div .mobileproj .mobilepreview img {
        position: absolute;
        left: 50%;
        margin-left: -175px; }
.mobile .front #categ .mobile_open {
  height: 300px; }
.mobile .red .left * {
  -webkit-transition: left 1s ease-in-out !important;
  -moz-transition: left 1s ease-in-out !important;
  -o-transition: left 1s ease-in-out !important;
  transition: left 1s ease-in-out !important; }
.mobile .red .left .title {
  font-size: 35px;
  width: auto; }
.mobile .red .left .who {
  top: 73%; }
.mobile .red .left .copyright {
  font-size: 10px;
  top: 77%; }
.mobile .red .right .crumb, .mobile .red .right #instruct {
  display: none; }
.mobile .red .right #point {
  top: 63%;
  width: 60px !important;
  margin-left: -30px !important; }
.mobile .grid .floater {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 10px; }
  .mobile .grid .floater .vertical, .mobile .grid .floater .horzontal, .mobile .grid .floater .square_small, .mobile .grid .floater .square_large {
    overflow: hidden;
    float: left;
    position: relative; }
    .mobile .grid .floater .vertical p, .mobile .grid .floater .horzontal p, .mobile .grid .floater .square_small p, .mobile .grid .floater .square_large p {
      padding: 10px;
      margin: 0px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      display: none; }
  .mobile .grid .floater .stats #stats_closed {
    height: 100px;
    width: 100%;
    border-radius: 0px; }
    .mobile .grid .floater .stats #stats_closed:hover {
      width: 100%; }
  .mobile .grid .floater .stats #stats_open {
    padding-top: 20px;
    position: relative;
    float: left; }
    .mobile .grid .floater .stats #stats_open p {
      margin: 0px;
      width: 100%; }
    .mobile .grid .floater .stats #stats_open .stat_full, .mobile .grid .floater .stats #stats_open .stat_small, .mobile .grid .floater .stats #stats_open .stat_text {
      position: relative;
      float: left;
      padding: 0px 20px; }
    .mobile .grid .floater .stats #stats_open .stat_full, .mobile .grid .floater .stats #stats_open .stat_small {
      height: 50px; }
    .mobile .grid .floater .stats #stats_open .stat_full {
      width: 100%; }
    .mobile .grid .floater .stats #stats_open .stat_small {
      width: 50%; }
    .mobile .grid .floater .stats #stats_open .stat_text {
      width: 100%;
      margin-bottom: 20px; }
    .mobile .grid .floater .stats #stats_open .stat_link {
      position: relative;
      float: left; }
      .mobile .grid .floater .stats #stats_open .stat_link p {
        margin-top: 20px; }
  .mobile .grid .floater .s_close {
    height: 100px;
    width: 100%; }
  .mobile .grid .floater .s_open {
    width: 100%;
    height: auto;
    position: relative;
    float: left; }
  .mobile .grid .floater .vertical {
    height: 100px;
    width: 50px; }
  .mobile .grid .floater .horzontal {
    height: 50px;
    width: 100px; }
  .mobile .grid .floater .square_small {
    height: 50px;
    width: 50px; }
  .mobile .grid .floater .square_large {
    height: 100px;
    width: 100px; }
  .mobile .grid .floater .open {
    height: 200px;
    width: 200px; }
    .mobile .grid .floater .open:hover p {
      display: block; }
