@-webkit-keyframes opaqr {
  from {
    opacity: 1; }

  to {
    opacity: .2; } }

@-moz-keyframes opaqr {
  from {
    opacity: 1; }

  to {
    opacity: .2; } }

@-ms-keyframes opaqr {
  from {
    opacity: 1; }

  to {
    opacity: .2; } }

@-o-keyframes opaqr {
  from {
    opacity: 1; }

  to {
    opacity: .2; } }

@keyframes opaqr {
  from {
    opacity: 1; }

  to {
    opacity: .2; } }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a img {
  border: none; }

a {
  border: none;
  text-decoration: none; }

::selection {
  /*background: #;*/ }

::-moz-selection {
  /*background: #;*/ }

.old_master, #master_back {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
  overflow: hidden;
  font-family: u47; }

#master_back {
  height: 50%; }

.master {
  height: 100%; }

#be_move {
  position: absolute;
  height: 200%;
  width: 85%;
  top: 0%;
  left: 0%;
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  -ms-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out; }
  #be_move h3 {
    font-size: 15px;
    font-family: u67;
    font-weight: normal; }
  #be_move input, #be_move textarea {
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px #b3b3b3 solid;
    border-left: 1px #b3b3b3 solid; }
    #be_move input:focus, #be_move textarea:focus {
      outline: none; }
  #be_move textarea {
    resize: none; }

.lookingatprojects {
  top: 0% !important; }

.lookinatmeimsuchadick {
  top: -100% !important; }

.projects, .about {
  position: relative;
  float: left;
  height: 50%;
  width: 100%; }

.side {
  position: absolute;
  width: 15%;
  height: 100%;
  display: table;
  right: 0px; }

.divide {
  position: relative;
  float: left;
  height: 100%;
  display: table;
  width: 1px; }
  .divide div {
    height: 90%;
    width: 1px;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px #b3b3b3 solid; }

.projects #oversight, .projects .details, .projects .cells {
  height: 100%;
  width: 33%;
  position: relative;
  float: left; }
.projects #oversight #add_project, .projects #oversight #add_row {
  z-index: 3; }
.projects #oversight #add_project {
  height: 80px;
  width: 80px;
  border-radius: 150px;
  background-color: grey;
  cursor: pointer;
  margin: auto;
  top: 11px;
  position: relative; }
  .projects #oversight #add_project img {
    position: absolute;
    margin: 14px; }
  .projects #oversight #add_project .minus {
    display: none; }
.projects #oversight #add_row {
  cursor: pointer;
  margin: auto;
  position: relative;
  top: 86%;
  width: 132px; }
  .projects #oversight #add_row p {
    text-align: center;
    margin-top: -27px; }
  .projects #oversight #add_row #row_list {
    position: absolute;
    z-index: 100;
    width: 100%;
    box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .projects #oversight #add_row #row_list li {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      -webkit-transition: height 0.5s ease-in-out;
      -moz-transition: height 0.5s ease-in-out;
      -ms-transition: height 0.5s ease-in-out;
      -o-transition: height 0.5s ease-in-out;
      transition: height 0.5s ease-in-out; }
    .projects #oversight #add_row #row_list .rowselectable {
      height: 10px; }
      .projects #oversight #add_row #row_list .rowselectable:hover {
        background-color: rgba(0, 0, 255, 0.3);
        box-shadow: 1px 1px 11px 1px rgba(0, 0, 255, 0.3); }
    .projects #oversight #add_row #row_list .thisrowthx {
      height: 20px; }
      .projects #oversight #add_row #row_list .thisrowthx input {
        width: 100%;
        border: none;
        text-align: center;
        font-family: u47;
        font-size: 15px;
        margin: 0px; }
    .projects #oversight #add_row #row_list.addrow_closed {
      top: 13px;
      height: 0px;
      box-shadow: none; }
  .projects #oversight #add_row .addrow_nothx {
    display: none; }
.projects #oversight #oversight_sight {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px; }
  .projects #oversight #oversight_sight .editor_cube {
    width: 50px;
    height: 50px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    cursor: pointer;
    z-index: 10; }
  .projects #oversight #oversight_sight .targeted {
    -webkit-animation: opaqr 2s linear 0s infinite alternate;
    -moz-animation: opaqr 2s linear 0s infinite alternate;
    -ms-animation: opaqr 2s linear 0s infinite alternate;
    -o-animation: opaqr 2s linear 0s infinite alternate;
    animation: opaqr 2s linear 0s infinite alternate; }
  .projects #oversight #oversight_sight .editor_cube div {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 120px;
    font-weight: bold;
    color: white;
    text-align: center; }
  .projects #oversight #oversight_sight .editor_cube .front {
    -webkit-transform: translateZ(25px);
    -moz-transform: translateZ(25px);
    -ms-transform: translateZ(25px);
    -o-transform: translateZ(25px);
    transform: translateZ(25px); }
  .projects #oversight #oversight_sight .editor_cube .back {
    -webkit-transform: rotateX(-180deg) translateZ(25px);
    -moz-transform: rotateX(-180deg) translateZ(25px);
    -ms-transform: rotateX(-180deg) translateZ(25px);
    -o-transform: rotateX(-180deg) translateZ(25px);
    transform: rotateX(-180deg) translateZ(25px); }
  .projects #oversight #oversight_sight .editor_cube .right {
    -webkit-transform: rotateY(90deg) translateZ(25px);
    -moz-transform: rotateY(90deg) translateZ(25px);
    -ms-transform: rotateY(90deg) translateZ(25px);
    -o-transform: rotateY(90deg) translateZ(25px);
    transform: rotateY(90deg) translateZ(25px); }
  .projects #oversight #oversight_sight .editor_cube .left {
    -webkit-transform: rotateY(-90deg) translateZ(25px);
    -moz-transform: rotateY(-90deg) translateZ(25px);
    -ms-transform: rotateY(-90deg) translateZ(25px);
    -o-transform: rotateY(-90deg) translateZ(25px);
    transform: rotateY(-90deg) translateZ(25px); }
  .projects #oversight #oversight_sight .editor_cube .top {
    -webkit-transform: rotateX(90deg) translateZ(25px);
    -moz-transform: rotateX(90deg) translateZ(25px);
    -ms-transform: rotateX(90deg) translateZ(25px);
    -o-transform: rotateX(90deg) translateZ(25px);
    transform: rotateX(90deg) translateZ(25px); }
  .projects #oversight #oversight_sight .editor_cube .bottom {
    -webkit-transform: rotateX(-90deg) translateZ(25px);
    -moz-transform: rotateX(-90deg) translateZ(25px);
    -ms-transform: rotateX(-90deg) translateZ(25px);
    -o-transform: rotateX(-90deg) translateZ(25px);
    transform: rotateX(-90deg) translateZ(25px); }
  .projects #oversight #oversight_sight .newcube div {
    background-color: rgba(0, 0, 0, 0.2); }
  .projects #oversight #oversight_sight .r1 div {
    background-color: rgba(255, 0, 0, 0.2); }
  .projects #oversight #oversight_sight .r2 div {
    background-color: rgba(0, 255, 0, 0.2); }
  .projects #oversight #oversight_sight .r3 div {
    background-color: rgba(0, 0, 255, 0.2); }
  .projects #oversight #oversight_sight .r4 div {
    background-color: rgba(255, 255, 0, 0.2); }
  .projects #oversight #oversight_sight .r5 div {
    background-color: rgba(0, 0, 0, 0.2); }
  .projects #oversight #oversight_sight .r6 div {
    background-color: rgba(0, 0, 0, 0.2); }
  .projects #oversight #oversight_sight .r7 div {
    background-color: rgba(0, 0, 0, 0.2); }
  .projects #oversight #oversight_sight .r8 div {
    background-color: rgba(0, 0, 0, 0.2); }
  .projects #oversight #oversight_sight .r9 div {
    background-color: rgba(0, 0, 0, 0.2); }
  .projects #oversight #oversight_sight .r10 div {
    background-color: rgba(0, 0, 0, 0.2); }
  .projects #oversight #oversight_sight .r11 div {
    background-color: rgba(0, 0, 0, 0.2); }
  .projects #oversight #oversight_sight .r12 div {
    background-color: rgba(0, 0, 0, 0.2); }
  .projects #oversight #oversight_sight .name {
    text-align: left;
    opacity: 1;
    cursor: pointer; }
    .projects #oversight #oversight_sight .name p {
      font-size: 40px;
      -webkit-transform: scale3d(0.5, 0.5, 1);
      -moz-transform: scale3d(0.5, 0.5, 1);
      -ms-transform: scale3d(0.5, 0.5, 1);
      -o-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1); }
.projects .details > div {
  position: relative;
  float: left;
  width: 100%;
  padding-bottom: 10px; }
.projects .details h3 {
  width: 39%;
  text-align: right;
  padding-right: 14px;
  margin: 12px 0px 6px 0px; }
.projects .details .info {
  border-bottom: 1px #b3b3b3 solid;
  height: 332px; }
  .projects .details .info div {
    width: 100%;
    position: relative;
    float: left; }
    .projects .details .info div p {
      width: 38%;
      position: relative;
      float: left;
      margin: 10px 0px;
      text-align: right;
      padding-right: 10px; }
    .projects .details .info div input, .projects .details .info div textarea {
      font-family: u47;
      font-size: 15px;
      width: 57%;
      position: relative;
      float: left;
      margin: 9px 0px 8px 0px; }
    .projects .details .info div #info_category {
      position: absolute !important;
      height: 18px;
      width: 57%;
      margin: 9px 0px 8px 0px;
      overflow: hidden;
      border-top: 0px;
      border-right: 0px;
      border-bottom: 1px #b3b3b3 solid;
      border-left: 1px #b3b3b3 solid;
      z-index: 10;
      -webkit-transition: height 0.5s ease-in-out;
      -moz-transition: height 0.5s ease-in-out;
      -ms-transition: height 0.5s ease-in-out;
      -o-transition: height 0.5s ease-in-out;
      transition: height 0.5s ease-in-out; }
      .projects .details .info div #info_category #info_category_open {
        position: absolute;
        top: 5px;
        right: 0px;
        cursor: pointer;
        height: 10px;
        width: 18px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../img/opener.png);
        z-index: 10; }
      .projects .details .info div #info_category #info_category_carousel {
        position: absolute; }
        .projects .details .info div #info_category #info_category_carousel li {
          width: 100%;
          height: 18px;
          display: block;
          position: relative;
          float: left;
          margin: 0px 0px 0px 1px; }
    .projects .details .info div .open {
      box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.5);
      background-color: white; }
      .projects .details .info div .open #info_category_open {
        top: 0px !important;
        height: 18px !important;
        background-image: url(../img/kill.png) !important; }
      .projects .details .info div .open li:hover {
        color: white;
        background-color: rgba(255, 0, 0, 0.7);
        cursor: pointer; }
    .projects .details .info div .ready {
      -webkit-transition: top 0.5s ease-in-out;
      -moz-transition: top 0.5s ease-in-out;
      -ms-transition: top 0.5s ease-in-out;
      -o-transition: top 0.5s ease-in-out;
      transition: top 0.5s ease-in-out; }
.projects .details .coords {
  border-bottom: 1px #b3b3b3 solid;
  height: 123px; }
  .projects .details .coords div {
    width: 100%;
    position: relative;
    float: left; }
    .projects .details .coords div p {
      width: 38%;
      position: relative;
      float: left;
      margin: 10px 0px;
      text-align: right;
      padding-right: 10px; }
    .projects .details .coords div input, .projects .details .coords div textarea {
      font-family: u47;
      font-size: 15px;
      width: 57%;
      position: relative;
      float: left;
      margin: 9px 0px 8px 0px; }
    .projects .details .coords div .coord_button {
      height: 10px;
      top: 15px;
      position: absolute;
      cursor: pointer; }
    .projects .details .coords div .cb_down {
      right: 15px; }
    .projects .details .coords div .cb_up {
      right: 33px; }
.projects .details .shapeshifter_collect h3 span {
  position: absolute;
  margin: 4px 0px 0px 5px;
  font-family: u47;
  font-size: 13px; }
.projects .details .shapeshifter_collect #shapeshifterhopper {
  position: relative;
  float: left;
  width: 100%;
  padding: 7px 0px 0px 10px;
  overflow: scroll; }
  .projects .details .shapeshifter_collect #shapeshifterhopper .loading {
    opacity: .8; }
  .projects .details .shapeshifter_collect #shapeshifterhopper div {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0px 10px 10px 0px; }
    .projects .details .shapeshifter_collect #shapeshifterhopper div img {
      position: absolute; }
    .projects .details .shapeshifter_collect #shapeshifterhopper div .shap_kill {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 30px !important;
      z-index: 10;
      margin: 0 !important;
      display: none;
      cursor: pointer; }
    .projects .details .shapeshifter_collect #shapeshifterhopper div:hover .shap_kill {
      display: block; }
.projects .cells .cell_top {
  height: 56px;
  border-bottom: 1px #b3b3b3 solid;
  top: 11px;
  position: relative; }
  .projects .cells .cell_top #cell_add {
    width: 46px;
    height: 46px;
    border-radius: 150px;
    background-color: grey;
    cursor: pointer;
    position: relative;
    left: 18px;
    float: left;
    padding: 0px; }
    .projects .cells .cell_top #cell_add img {
      margin: 9px; }
  .projects .cells .cell_top h3 {
    width: 85px;
    margin: 14px 0px 0px 62px;
    position: relative;
    float: left; }
.projects .cells #cell_put {
  overflow: scroll !important;
  height: 100%;
  margin: 10px 0px 0px 10px;
  padding: 10px 0px 10px 0px; }
  .projects .cells #cell_put div {
    position: relative;
    float: left;
    padding-bottom: 10px;
    width: 100%; }
    .projects .cells #cell_put div .cell_img_hold {
      position: relative;
      float: left;
      width: 85px;
      height: 85px;
      margin-right: 10px;
      overflow: hidden; }
      .projects .cells #cell_put div .cell_img_hold img {
        position: absolute;
        top: 0px;
        left: 0px;
        margin: -100% 0 0 -100%; }
      .projects .cells #cell_put div .cell_img_hold #img_blank {
        margin: 0px !important; }
      .projects .cells #cell_put div .cell_img_hold .loading {
        opacity: .8; }
      .projects .cells #cell_put div .cell_img_hold .cell_kill {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30px !important;
        z-index: 10;
        margin: 0 !important;
        display: none;
        cursor: pointer; }
      .projects .cells #cell_put div .cell_img_hold:hover .cell_kill {
        display: block; }
    .projects .cells #cell_put div textarea {
      position: relative;
      float: left;
      width: 57%;
      height: 158px;
      font-family: u47;
      font-size: 14px; }

.about #meimgs, .about #mebits {
  position: relative;
  float: left;
  height: 100%; }
.about #meimgs {
  overflow: scroll !important;
  width: 30%;
  padding-top: 17px; }
  .about #meimgs div {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 0px 0px 10px; }
    .about #meimgs div img {
      position: absolute; }
    .about #meimgs div .img_kill {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 30px !important;
      z-index: 10;
      margin: 0 !important;
      display: none;
      cursor: pointer; }
    .about #meimgs div:hover .img_kill {
      display: block; }
  .about #meimgs .loading img {
    opacity: .5; }
  .about #meimgs p {
    width: 100%;
    font-family: u47;
    font-size: 10px;
    text-align: center; }
.about #mebits {
  border-left: 1px #b3b3b3 solid;
  width: 70%;
  overflow: scroll;
  padding: 10px 0px; }
  .about #mebits textarea {
    font-family: u47;
    font-size: 14px;
    width: 93%;
    margin: 7px 2%;
    height: 3em; }

.side div {
  position: absolute;
  width: 100%;
  width: 60px;
  height: 60px;
  left: 50%;
  margin-left: -30px;
  border-radius: 150px;
  display: table;
  cursor: pointer; }
  .side div p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 15px; }
.side #save p, .side #switch_03 p {
  color: white;
  border-radius: 150px; }
.side #save {
  top: 11px; }
  .side #save p {
    background-color: red; }
  .side #save:hover p {
    background-color: white;
    border: 1px red solid;
    color: red; }
.side #switch_01 {
  top: 91px; }
.side #switch_02 {
  top: 161px; }
.side #switch_03 {
  bottom: 11px; }
  .side #switch_03 p {
    background-color: #63D0FF; }
  .side #switch_03:hover p {
    background-color: white;
    border: 1px #63d0ff solid;
    color: #63D0FF; }

@-moz-document url-prefix() {}
