/*
looking for these? :)

border-radius: 9px;

<?php include("inc/head.html"); ?>
*/

@font-face {
    font-family : 'u47';
    src: url('../../join/type/u47.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family : 'u47i';
    src: url('../../join/type/u47i.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family : 'u39';
    src: url('../../join/type/u39.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family : 'u67';
    src: url('../../join/type/u67.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import "bourbon";

//DEFINES
$masterwidth: 1024px;
$greyline: 1px #b3b3b3 solid;
$offset: 25px;

@-webkit-keyframes opaqr { from { opacity:1; } to { opacity:.2; }  }
@-moz-keyframes opaqr { from { opacity:1; } to { opacity:.2; }  }
@-ms-keyframes opaqr { from { opacity:1; } to { opacity:.2; }  }
@-o-keyframes opaqr { from { opacity:1; } to { opacity:.2; }  }
@keyframes opaqr { from { opacity:1; } to { opacity:.2; }  }

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

a img{border:none;}
a{
	border:none;
	text-decoration: none;
}

::selection {
	/*background: #;*/
}

::-moz-selection {
	/*background: #;*/
}

@mixin prfl{
	position: relative;
	float:left;
}

.master{
	position:absolute;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	font-family:helvetica, arial, sans-serif;
	line-height:18px;
	font-size:14px;
	overflow:hidden;
	font-family: u47;
}

#be_move{
    position:absolute;
    height:200%;
    width:85%;
    // top:-100%;
    top:0%;
    left:0%;
    @include transition (all 0.5s ease-in-out);
    h3{
    	font-size:14;
    	font-family:u67;
    	font-weight:normal;
    }
    input, textarea{
    	border-top:0px;
    	border-right:0px;
    	border-bottom:$greyline;
    	border-left:$greyline;
    	&:focus{
    		outline: none;
    	}
    }
    textarea{resize: none; }
}

.lookingatprojects{top:0% !important;}
.lookinatmeimsuchadick{top:-100% !important;}

.projects, .about{
	position:relative;
	float:left;
	height:50%;
	width:100%;
}

.side{
	position:absolute;
	width:15%;
	height:100%;
	display:table;
	right:0px;
}

.divide{
	@include prfl;
	height:100%;
	display:table;
	width:1px;
	div{
		height:90%;
		width:1px;
		display:table-cell;
		vertical-align: middle;
		border-right:$greyline;

	}
}

.projects{
	#oversight, .details, .cells{
		height:100%;
		width:33%;
		position:relative;
		float:left;
	}
	#oversight{
		#add_project, #add_row{
			z-index:3;
		}
		#add_project{
			height:80px;
			width:80px;
			border-radius:150px;
			background-color:grey;
			cursor: pointer;
			margin:auto;
			top: 10px;
			position: relative;
			img{
				position: absolute;
				margin:14px;
			}
			.minus{display:none;}
		}
		#add_row{
			cursor: pointer;
			margin:auto;
			position: relative;
			top:86%;
			width:132px;
			p{
				text-align: center;
				margin-top:-27px;
			}
			#row_list{
				position: absolute;
				z-index:100;
				width:100%;
				box-shadow: 1px 1px 11px 1px rgba(0,0,0,.5);
				
				
				overflow:hidden;
				// height:0px;
				@include transition (all 0.5s ease-in-out);
				li{
					display:block;
					position: relative;
					float:left;
					width:100%;
					text-align: center;
					@include transition (height 0.5s ease-in-out);
				}
				.row{

				}
				.rowselectable{
					height:10px;
					&:hover{
						background-color:rgba(0,0,255,.3);
						box-shadow: 1px 1px 11px 1px rgba(0,0,255,.3);
					}
				}
				.thisrowthx{
					height:20px;
					input{
						width:100%;
						border:none;
						text-align: center;
						font-family: u47;
						font-size: 14px;
						margin:0px;
					}
				}
				&.addrow_closed{
					// display:none;
					top:13px;
					height:0px;
					box-shadow: none;
				}
			}
			.addrow_nothx{display:none;}
		}
		#oversight_sight{
			height:100%;
			width:100%;
			position: absolute;
			top:0px;
			left:0px;

			.cube {
			    width: 50px;
			    height: 50px;
			    position: absolute;
			    -webkit-transform-style: preserve-3d;
			    -moz-transform-style: preserve-3d;
			    -o-transform-style: preserve-3d;
			    transform-style: preserve-3d;
			    cursor: pointer;
			    z-index: 10;
			}

			.targeted{
				-webkit-animation: opaqr 2s linear 0s infinite alternate;
				-moz-animation: opaqr 2s linear 0s infinite alternate;
				-ms-animation: opaqr 2s linear 0s infinite alternate;
				-o-animation: opaqr 2s linear 0s infinite alternate;
				animation: opaqr 2s linear 0s infinite alternate;
			}				

			.cube div {
			    display: block;
			    position: absolute;
			    width: 50px;
			    height: 50px;
			    line-height: 50px;
			    font-size: 120px;
			    font-weight: bold;
			    color: white;
			    text-align: center;
			}

			.cube .front { @include transform(translateZ( $offset )); }
			.cube .back { @include transform(rotateX( -180deg ) translateZ( $offset )); }
			.cube .right { @include transform(rotateY(   90deg ) translateZ( $offset )); }
			.cube .left { @include transform(rotateY(  -90deg ) translateZ( $offset )); }
			.cube .top { @include transform(rotateX(   90deg ) translateZ( $offset )); }
			.cube .bottom { @include transform(rotateX(  -90deg ) translateZ( $offset )); }

			.newcube div{background-color:rgba(0,0,0,.2);}

			.r1 div{background-color:rgba(255,0,0,.2);}
			.r2 div{background-color:rgba(0,255,0,.2);}
			.r3 div{background-color:rgba(0,0,255,.2);}
			.r4 div{background-color:rgba(255,255,0,.2);}
			.r5 div{background-color:rgba(0,0,0,.2);}
			.r6 div{background-color:rgba(0,0,0,.2);}
			.r7 div{background-color:rgba(0,0,0,.2);}
			.r8 div{background-color:rgba(0,0,0,.2);}
			.r9 div{background-color:rgba(0,0,0,.2);}
			.r10 div{background-color:rgba(0,0,0,.2);}
			.r11 div{background-color:rgba(0,0,0,.2);}
			.r12 div{background-color:rgba(0,0,0,.2);}

			.name{
			    text-align:left;
			    opacity:1;
			    cursor:pointer;
			    p{
			        font-size: 40px;
			        @include transform(scale3d(0.5, 0.5, 1));
			    }
			}
		}
	}
	.details{
		& > div{
			@include prfl;
			width:100%;
			padding-bottom:10px;
		}
		h3{
			width:39%;
			text-align: right;
			padding-right: 17px;
			margin:12px 0px 6px 0px;
		}
		.info{
			border-bottom:$greyline;
			// margin-bottom:10px;
			height: 332px;
			div{
				width:100%;
				@include prfl;
				p{
					width:38%;
					@include prfl;
					margin:10px 0px;
					text-align: right;
					padding-right: 10px;
				}
				input, textarea{
					font-family: u47;
					font-size:14px;
					width:57%;
					@include prfl;
					margin: 9px 0px 8px 0px;
				}
				#info_category{
					position: absolute !important;
					// left:116px;
					// right:19px;
					height:20px;
					width:57%;
					margin: 9px 0px 8px 0px;
					overflow: hidden;
					border-top:0px;
					border-right:0px;
					border-bottom:$greyline;
					border-left:$greyline;
					z-index:10;
					@include transition (height 0.5s ease-in-out);
					#info_category_open{
						position: absolute;
						top:5px;
						right:0px;
						cursor: pointer;
						height:10px;
						width:18px;
						background-size:cover;
						background-repeat: no-repeat;
						background-image:url(../img/opener.png);
						z-index: 10;
					}
					#info_category_carousel{
						position: absolute;
						li{
							width:100%;
							height: 18px;
							display:block;
							@include prfl;
							margin: 0px 0px 0px 1px;
						}	
					}
				}
				.open{
					box-shadow: 1px 1px 11px 1px rgba(0,0,0,.5);
					background-color:white;
					#info_category_open{
						top:0px !important;
						height:18px !important;
						background-image:url(../img/kill.png) !important;
					}
					li:hover{
						color:white;
						background-color:rgba(255,0,0,.7);
						cursor:pointer;
					}
				}
				.ready{@include transition (top 0.5s ease-in-out);}
			}
		}
		.coords{
			border-bottom:$greyline;
			// margin-bottom:10px;
			height: 123px;
			div{
				width:100%;
				@include prfl;
				p{
					width:38%;
					@include prfl;
					margin:10px 0px;
					text-align: right;
					padding-right: 10px;
				}
				input, textarea{
					font-family: u47;
					font-size:14px;
					width:57%;
					@include prfl;
					margin: 9px 0px 8px 0px;
				}
				.coord_button{
					height:10px;
					top:15px;
					position:absolute;
					cursor: pointer;
				}
				.cb_down{right:15px;}
				.cb_up{right:33px;}
			}
		}
		.shapeshifter_collect{
			h3{
				padding-right:15px !important;
				span{
					position: absolute;
					margin: 1px 0px 0px 5px;
					font-family: u47;
					font-size: 13px;
				}
			}
			#shapeshifterhopper{
				@include prfl;
				width:100%;
				padding:7px 0px 0px 10px;
				overflow:scroll;
				.loading{opacity:.8;}
				div{
					@include prfl;
					overflow:hidden;
					margin:0px 10px 10px 0px;
					img{position: absolute;}
					.shap_kill{
						position: absolute;
						top:0px;
						left:0px;
						width:30px !important;
						z-index: 10;
						margin:0 !important;
						display:none;
						cursor: pointer;
					}
					&:hover .shap_kill{display:block;}
				}
			}
		}
	}
	.cells{
		.cell_top{
			height:56px;
			border-bottom:$greyline;
			top:9px;
			position: relative;
			#cell_add{
				width:46px;
				height:46px;
				border-radius:150px;
				background-color:grey;
				cursor: pointer;
				position: relative;
				left: 18px;
				float: left;
				padding:0px;	
				img{margin:9px;}
			}
			h3{
				width:85px;
				margin: 14px 0px 0px 62px;
				position: relative;
				float: left;
			}
		}
		#cell_put{
			overflow: scroll !important;
			height:100%;
			margin:10px 0px 0px 10px;
			padding:10px 0px 10px 0px;

			div{
				@include prfl;
				padding-bottom:10px;
				width:100%;
				.cell_img_hold{
					@include prfl;
					width:85px;
					height: 85px;
					margin-right:10px;
					overflow:hidden;
					img{
						position: absolute;
						top:0px;
						left:0px;
						margin:-100% 0 0 -100%;
					}
					#img_blank{margin:0px !important;}
					.loading{opacity:.8;}
					.cell_kill{
						position: absolute;
						top:0px;
						left:0px;
						width:30px !important;
						z-index: 10;
						margin:0 !important;
						display:none;
						cursor: pointer;
					}
					&:hover .cell_kill{display:block;}
				}

				textarea{
					@include prfl;
					width:57%;
					height:158px;
					font-family: u47;
					font-size:14px;
				}
			}
		}
	}
}

.about{
	#meimgs, #mebits{
		@include prfl;
		height:100%;
	}
	#meimgs{
		overflow: scroll !important;
		width:30%;
		padding-top:17px;
		div{
			@include prfl;
			overflow:hidden;
			margin:10px 0px 0px 10px;
			img{position: absolute;}
			.img_kill{
				position: absolute;
				top:0px;
				left:0px;
				width:30px !important;
				z-index: 10;
				margin:0 !important;
				display:none;
				cursor: pointer;
			}
			&:hover .img_kill{display:block;}
		}
		.loading img{opacity:.5;}
		p{
			width:100%;
			font-family: u47;
			font-size:10px;
			text-align: center;
		}
	}
	#mebits{
		border-left:$greyline;
		width:70%;	
		overflow:scroll;
		padding:10px 0px;
		textarea{
			font-family: u47;
			font-size:14px;
			width:93%;
			margin: 7px 2%;
			height:3em;
		}
	}
}

.side{
	div{cursor: pointer;}
	p{
		text-align: center;
		font-size: 18px
	}
	#save{
		height:60px;
		width:60px;
		top: -8px;
		background-color:red;
		color:white;
		border-radius:150px;
		// border:1px white solid;
		margin:auto;
		position: relative;
		p{padding-top: 20px;}
		// &:hover{
		// 	background-color:white;
		// 	border:1px red solid;
		// 	color:red;
		// }
	}
	.switcher{
		@include prfl;
		top:30%;
		margin:auto;
		width:100%;
		div{
			height:111px;
			width:111px;
			border-radius:150px;
			position:relative;
			margin:auto;
			p{
				padding-top:50px;
			}
		}
		#switch_01{

		}
		#switch_02{

		}
		#switch_03{
			div{
				height:60px;
				width:60px;
				top: 38px;
				background-color:#63D0FF;
				color:white;
				border-radius:150px;
				margin:auto;
				position: relative;
				p{padding-top: 20px;}
				// &:hover{
				// 	background-color:white;
				// 	border:1px blue solid;
				// 	color:blue;
				// }
			}
		}
	}
}

@media only screen and (device-width: 768px) /*IPAD*/ {}

@media only screen and (max-width: 480px) /*IPHONE*/{}

@-moz-document url-prefix() {}

.ie{}

.ie8{}

.ie7{}

.ie6{}

