@import url("//hello.myfonts.net/count/2760f4");
@import url("//hello.myfonts.net/count/276103");
@font-face {
  font-family: 'u47';
  src: url("../../join/type/u47/2760F4_0_0.eot");
  src: url("../../join/type/u47/2760F4_0_0.eot?#iefix") format("embedded-opentype"), url("../../join/type/u47/2760F4_0_0.woff") format("woff"), url("../../join/type/u47/2760F4_0_0.ttf") format("truetype"), url("../../join/type/u47/2760F4_0_0.svg#wf") format("svg"); }

@font-face {
  font-family: 'u39';
  src: url("../../join/type/u39/276103_0_0.eot");
  src: url("../../join/type/u39/276103_0_0.eot?#iefix") format("embedded-opentype"), url("../../join/type/u39/276103_0_0.woff") format("woff"), url("../../join/type/u39/276103_0_0.ttf") format("truetype"), url("../../join/type/u39/276103_0_0.svg#wf") format("svg"); }

@font-face {
  font-family: 'u67';
  src: url("../../join/type/u67/276103_1_0.eot");
  src: url("../../join/type/u67/276103_1_0.eot?#iefix") format("embedded-opentype"), url("../../join/type/u67/276103_1_0.woff") format("woff"), url("../../join/type/u67/276103_1_0.ttf") format("truetype"), url("../../join/type/u67/276103_1_0.svg#wf") format("svg"); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\0000369}}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\0000375}}
a img {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\0000376}}
a {
  border: none;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\0000381}}
::selection {
  /*background: #;*/ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\0000385}}
::-moz-selection {
  /*background: #;*/ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\0000389}}
body {
  font-family: u47;
  color: #333;
  margin: 0px;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\0000398}}
#master {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0px;
  left: 0px;
  line-height: 18px;
  font-size: 14px;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003115}}
#edit {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0px;
  height: 200%;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003124}}
#movement {
  position: absolute;
  height: 100%;
  width: 400%;
  top: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003131}}
#movement, #edit, .red, .red .left * {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003138}}
.first {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003139}}
.second {
  -webkit-transform: translateX(-25%);
  -moz-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  -o-transform: translateX(-25%);
  transform: translateX(-25%); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003143}}
.third {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003145}}
  .third .red .left * {
    left: 314%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003147}}
.fourth {
  -webkit-transform: translateX(-75%);
  -moz-transform: translateX(-75%);
  -ms-transform: translateX(-75%);
  -o-transform: translateX(-75%);
  transform: translateX(-75%); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003149}}
  .fourth .red .left * {
    left: 613.6%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003151}}
.editing {
  -webkit-transform: translateY(0%) !important;
  -moz-transform: translateY(0%) !important;
  -ms-transform: translateY(0%) !important;
  -o-transform: translateY(0%) !important;
  transform: translateY(0%) !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003159}}
.down.second {
  -webkit-transform: translateX(-25%) translateY(100%);
  -moz-transform: translateX(-25%) translateY(100%);
  -ms-transform: translateX(-25%) translateY(100%);
  -o-transform: translateX(-25%) translateY(100%);
  transform: translateX(-25%) translateY(100%); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003160}}
.down.third {
  -webkit-transform: translateX(-50%) translateY(100%);
  -moz-transform: translateX(-50%) translateY(100%);
  -ms-transform: translateX(-50%) translateY(100%);
  -o-transform: translateX(-50%) translateY(100%);
  transform: translateX(-50%) translateY(100%); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003161}}
.down.fourth {
  -webkit-transform: translateX(-75%) translateY(100%);
  -moz-transform: translateX(-75%) translateY(100%);
  -ms-transform: translateX(-75%) translateY(100%);
  -o-transform: translateX(-75%) translateY(100%);
  transform: translateX(-75%) translateY(100%); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003163}}
.me, .front, .grid, .red {
  position: relative;
  float: left;
  height: 100%;
  top: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003170}}
.me {
  width: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003171}}
.front, .grid {
  width: 20%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003172}}
.red {
  width: 35%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003174}}
.me {
  background-size: cover;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003177}}
  .me .me_img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003183}}
    .me .me_img #me_blur, .me .me_img #me_clean {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003190}}
      .me .me_img #me_blur img, .me .me_img #me_clean img {
        display: block;
        position: relative;
        margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003196}}
    .me .me_img .not {
      opacity: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003198}}
  .me .meme {
    position: absolute;
    width: 25%;
    height: 25%;
    cursor: pointer;
    display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003204}}
    .me .meme p {
      color: white;
      z-index: 2;
      opacity: 1 !important;
      position: absolute;
      width: 108px;
      height: 84px;
      top: 50%;
      left: 50%;
      margin: -42px 0px 0px -54px;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003215}}
      .me .meme p span {
        font-family: u39;
        font-size: 79px;
        margin: 0px 24px 0px 20px;
        display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003222}}
    .me .meme #megrey {
      background-color: rgba(0, 0, 0, 0.8);
      width: 200px;
      height: 200px;
      border-radius: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -100px 0px 0px -100px;
      float: none;
      display: block;
      padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003234}}
      .me .meme #megrey:hover {
        border: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003236}}
    .me .meme:hover {
      border: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003238}}
      .me .meme:hover #megrey {
        background-color: red !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003239}}
      .me .meme:hover p {
        color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003242}}
  .me .meback {
    position: absolute;
    width: 25%;
    height: 25%;
    padding: 0px;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003249}}
    .me .meback #mebackwhite {
      background-color: white;
      width: 160px;
      height: 160px;
      border-radius: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -80px 0px 0px -80px;
      float: none;
      display: block;
      padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003261}}
      .me .meback #mebackwhite:hover {
        border: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003263}}
    .me .meback img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      margin: -26px 0px 0px -50px;
      z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003271}}
    .me .meback:hover {
      border: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003273}}
      .me .meback:hover #mebackwhite {
        background-color: grey; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003276}}
  .me .me_bit {
    position: absolute;
    width: 25%;
    height: 25%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003282}}
    .me .me_bit:hover {
      border: 1px black solid; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003283}}
    .me .me_bit .me_float {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      height: 100%;
      width: 100%;
      position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003288}}
      .me .me_bit .me_float .me_txt {
        padding: 10%;
        display: table;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003296}}
        .me .me_bit .me_float .me_txt p {
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          display: table-cell;
          vertical-align: middle;
          opacity: 0;
          color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003306}}
  .me .me_x1 {
    left: 0%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003307}}
  .me .me_x2 {
    left: 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003308}}
  .me .me_x3 {
    left: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003309}}
  .me .me_x4 {
    left: 75%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003310}}
  .me .me_y1 {
    top: 0%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003311}}
  .me .me_y2 {
    top: 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003312}}
  .me .me_y3 {
    top: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003313}}
  .me .me_y4 {
    top: 75%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003315}}
  .me .up:hover {
    border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003316}}
  .me .up .me_float {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 15px;
    top: -3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003321}}
    .me .up .me_float .me_txt p {
      opacity: 1 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003327}}
.front {
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003330}}
  .front #cubic {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
    width: 819px;
    height: 672px;
    margin: -336px 0px 0px -409.5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003340}}
  .front .name {
    text-align: left;
    opacity: 1;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003344}}
    .front .name p {
      font-size: 28px;
      -webkit-transform: scale3d(0.5, 0.5, 1);
      -moz-transform: scale3d(0.5, 0.5, 1);
      -ms-transform: scale3d(0.5, 0.5, 1);
      -o-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003350}}
  .front #shapeshifter {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 137px;
    height: 147px;
    margin: -73.5px 0px 0px -68.5px;
    z-index: 100;
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003359}}
    .front #shapeshifter div {
      position: absolute;
      width: 137px;
      height: 147px;
      display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003368}}
.ssi {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003370}}
.cube {
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
  z-index: 10; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003382}}
.cube div {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 120px;
  font-weight: bold;
  color: white;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003394}}
.cube .front {
  -webkit-transform: translateZ(25px);
  -moz-transform: translateZ(25px);
  -ms-transform: translateZ(25px);
  -o-transform: translateZ(25px);
  transform: translateZ(25px); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003395}}
.cube .back {
  -webkit-transform: rotateX(-180deg) translateZ(25px);
  -moz-transform: rotateX(-180deg) translateZ(25px);
  -ms-transform: rotateX(-180deg) translateZ(25px);
  -o-transform: rotateX(-180deg) translateZ(25px);
  transform: rotateX(-180deg) translateZ(25px); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003396}}
.cube .right {
  -webkit-transform: rotateY(90deg) translateZ(25px);
  -moz-transform: rotateY(90deg) translateZ(25px);
  -ms-transform: rotateY(90deg) translateZ(25px);
  -o-transform: rotateY(90deg) translateZ(25px);
  transform: rotateY(90deg) translateZ(25px); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003397}}
.cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(25px);
  -moz-transform: rotateY(-90deg) translateZ(25px);
  -ms-transform: rotateY(-90deg) translateZ(25px);
  -o-transform: rotateY(-90deg) translateZ(25px);
  transform: rotateY(-90deg) translateZ(25px); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003398}}
.cube .top {
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003399}}
.cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(25px);
  -moz-transform: rotateX(-90deg) translateZ(25px);
  -ms-transform: rotateX(-90deg) translateZ(25px);
  -o-transform: rotateX(-90deg) translateZ(25px);
  transform: rotateX(-90deg) translateZ(25px); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003401}}
.r1 div {
  background-color: rgba(255, 0, 0, 0.2); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003402}}
.r2 div {
  background-color: rgba(0, 255, 0, 0.2); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003403}}
.r3 div {
  background-color: rgba(0, 0, 255, 0.2); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003404}}
.r4 div {
  background-color: rgba(255, 255, 0, 0.2); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003405}}
.r5 div {
  background-color: rgba(0, 0, 0, 0.2); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003406}}
.r6 div {
  background-color: rgba(0, 0, 0, 0.2); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003407}}
.r7 div {
  background-color: rgba(0, 0, 0, 0.2); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003408}}
.r8 div {
  background-color: rgba(0, 0, 0, 0.2); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003409}}
.r9 div {
  background-color: rgba(0, 0, 0, 0.2); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003410}}
.r10 div {
  background-color: rgba(0, 0, 0, 0.2); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003411}}
.r11 div {
  background-color: rgba(0, 0, 0, 0.2); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003412}}
.r12 div {
  background-color: rgba(0, 0, 0, 0.2); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003414}}
.red {
  z-index: 200;
  background-color: #c50000;
  color: white;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003419}}
  .red > div {
    position: relative;
    float: left;
    height: 100%;
    top: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003425}}
  .red .left {
    width: 14%;
    left: .16%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003428}}
    .red .left .title, .red .left .who, .red .left .copyright {
      position: relative;
      margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003432}}
    .red .left .title {
      font-family: u39;
      font-size: 53px;
      top: 10%;
      width: 72px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003438}}
    .red .left .who {
      top: 76%;
      font-size: 20px;
      text-align: center;
      height: 40px;
      width: 40px;
      padding: 9px;
      border-radius: 40px;
      background: white;
      color: #c50000;
      border: 1px #c50000 solid;
      z-index: 200; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003450}}
      .red .left .who:hover {
        background: #c50000;
        border: 1px white solid;
        color: white;
        height: 39px;
        width: 39px;
        cursor: pointer;
        margin-bottom: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003460}}
    .red .left .copyright {
      top: 81%;
      width: 33px;
      font-size: 11px;
      line-height: 12px;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003467}}
    .red .left #trial {
      font-family: u47;
      font-size: 14px;
      width: 104%;
      position: relative;
      float: left;
      left: -2%;
      height: 30px;
      border: 0px;
      margin: auto;
      display: block;
      top: 76%;
      z-index: 200;
      outline: 0px !important;
      text-align: center;
      opacity: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003485}}
  .red .middle {
    width: 72%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003487}}
    .red .middle #loadr {
      position: absolute;
      width: 308px;
      height: 173px;
      left: 50%;
      top: 50%;
      margin: -68.5px 0px 0px -137px;
      overflow: hidden;
      background-image: url(../../join/img/loadr.png); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003497}}
    .red .middle .load_0 {
      background-position-x: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003498}}
    .red .middle .load_1 {
      background-position-x: -308px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003499}}
    .red .middle .load_2 {
      background-position-x: -616px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003500}}
    .red .middle .load_3 {
      background-position-x: -924px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003501}}
    .red .middle .load_4 {
      background-position-x: -1232px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003502}}
    .red .middle .load_5 {
      background-position-x: -1540px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003503}}
    .red .middle .load_6 {
      background-position-x: -1848px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003504}}
    .red .middle .load_7 {
      background-position-x: -2156px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003505}}
    .red .middle .load_8 {
      background-position-x: -2464px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003506}}
    .red .middle .load_9 {
      background-position-x: -2772px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003509}}
  .red .right {
    width: 13.6%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003511}}
    .red .right .crumb {
      height: 175px;
      width: 175px;
      background-color: white;
      border-radius: 500px;
      position: relative;
      margin: auto;
      top: 50%;
      margin-top: -87.5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003520}}
      .red .right .crumb #crumbput {
        margin: auto;
        position: relative;
        width: 20px;
        height: 116px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003525}}
        .red .right .crumb #crumbput .crumbcube {
          position: absolute;
          cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003533}}
        .red .right .crumb #crumbput .ccs div {
          border: 1px white solid; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003534}}
        .red .right .crumb #crumbput .ccs:hover div {
          -webkit-animation: throb 1s infinite;
          -moz-animation: throb 1s infinite;
          -ms-animation: throb 1s infinite;
          -o-animation: throb 1s infinite;
          animation: throb 1s infinite; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003541}}
        .red .right .crumb #crumbput .crumbface {
          position: absolute;
          width: 27px;
          height: 27px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003546}}
        .red .right .crumb #crumbput .cr_top {
          -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
          -moz-transform: rotate(-45deg) skew(15deg, 15deg);
          -ms-transform: rotate(-45deg) skew(15deg, 15deg);
          -o-transform: rotate(-45deg) skew(15deg, 15deg);
          transform: rotate(-45deg) skew(15deg, 15deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003550}}
        .red .right .crumb #crumbput .cr_left {
          -webkit-transform: rotate(15deg) skew(15deg, 15deg);
          -moz-transform: rotate(15deg) skew(15deg, 15deg);
          -ms-transform: rotate(15deg) skew(15deg, 15deg);
          -o-transform: rotate(15deg) skew(15deg, 15deg);
          transform: rotate(15deg) skew(15deg, 15deg);
          top: 22px;
          left: -12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003555}}
        .red .right .crumb #crumbput .cr_right {
          -webkit-transform: rotate(-15deg) skew(-15deg, -15deg);
          -moz-transform: rotate(-15deg) skew(-15deg, -15deg);
          -ms-transform: rotate(-15deg) skew(-15deg, -15deg);
          -o-transform: rotate(-15deg) skew(-15deg, -15deg);
          transform: rotate(-15deg) skew(-15deg, -15deg);
          top: 21px;
          left: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003562}}
    .red .right #instruct {
      position: absolute;
      margin: auto;
      width: 130px;
      height: 130px;
      padding: 49px 0px;
      text-align: center;
      top: 20%;
      left: 50%;
      margin-left: -62px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003573}}
    .red .right .reinstruct {
      background-color: white;
      color: black;
      border-radius: 1000px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003578}}
    .red .right #point {
      position: absolute;
      margin: auto;
      width: 100px;
      left: 50%;
      margin-left: -50px;
      top: 68%;
      cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003590}}
.edit {
  background-color: #63D0FF !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003592}}
  .edit .who {
    -webkit-transition: top 1s ease-in-out !important;
    -moz-transition: top 1s ease-in-out !important;
    -o-transition: top 1s ease-in-out !important;
    transition: top 1s ease-in-out !important;
    top: 69% !important;
    color: #63D0FF !important;
    border: 1px #63D0FF solid !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003600}}
    .edit .who:hover {
      background: #63D0FF !important;
      border: 1px white solid !important;
      color: white !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003606}}
  .edit .copyright {
    top: 74% !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003609}}
  .edit #trial {
    opacity: 1 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003616}}
.grid .floater {
  width: 150%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003622}}
  .grid .floater .cell {
    border-radius: 20px 0px 0px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003626}}
  .grid .floater .vertical, .grid .floater .horzontal, .grid .floater .square_small, .grid .floater .square_large {
    overflow: hidden;
    float: left;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003633}}
    .grid .floater .vertical p, .grid .floater .horzontal p, .grid .floater .square_small p, .grid .floater .square_large p {
      padding: 10px;
      margin: 0px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003654}}
  .grid .floater .stats #stats_closed {
    height: 150px;
    width: 150px;
    border-radius: 300px;
    background-color: #ccc;
    display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003660}}
    .grid .floater .stats #stats_closed span {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-style: italic;
      font-family: georgia;
      font-size: 82px;
      color: white;
      cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003671}}
    .grid .floater .stats #stats_closed:hover {
      background-color: white;
      height: 149px;
      width: 149px;
      border: 1px #ccc solid; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003676}}
      .grid .floater .stats #stats_closed:hover span {
        color: #ccc; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003682}}
  .grid .floater .stats #stats_open {
    padding-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003684}}
    .grid .floater .stats #stats_open p {
      margin: 0px;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003689}}
    .grid .floater .stats #stats_open .stat_full, .grid .floater .stats #stats_open .stat_small, .grid .floater .stats #stats_open .stat_text {
      position: relative;
      float: left;
      padding: 0px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003695}}
    .grid .floater .stats #stats_open .stat_full, .grid .floater .stats #stats_open .stat_small {
      height: 74px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003698}}
      .grid .floater .stats #stats_open .stat_full p:nth-child(1), .grid .floater .stats #stats_open .stat_small p:nth-child(1) {
        font-size: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003699}}
      .grid .floater .stats #stats_open .stat_full p:nth-child(2), .grid .floater .stats #stats_open .stat_small p:nth-child(2) {
        font-size: 2em;
        margin: 2px 0px 0px -1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003704}}
    .grid .floater .stats #stats_open .stat_full {
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003705}}
    .grid .floater .stats #stats_open .stat_small {
      width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003707}}
    .grid .floater .stats #stats_open .stat_text {
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003710}}
    .grid .floater .stats #stats_open .stat_link {
      height: 52px;
      width: 100%;
      position: absolute;
      bottom: 0px;
      background-color: #ccc; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003717}}
      .grid .floater .stats #stats_open .stat_link p {
        text-align: center;
        color: white;
        font-size: 2em;
        margin-top: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003725}}
      .grid .floater .stats #stats_open .stat_link a {
        color: inherit; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003726}}
      .grid .floater .stats #stats_open .stat_link:hover {
        background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003728}}
        .grid .floater .stats #stats_open .stat_link:hover p {
          color: #ccc; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003733}}
  .grid .floater .s_close {
    height: 150px;
    width: 150px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003736}}
    .grid .floater .s_close #stats_closed {
      display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003737}}
    .grid .floater .s_close #stats_open {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003739}}
  .grid .floater .s_open {
    border: 1px #ccc solid;
    height: 449px;
    width: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003743}}
    .grid .floater .s_open #stats_closed {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003744}}
    .grid .floater .s_open #stats_open {
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003749}}
  .grid .floater .vertical {
    height: 300px;
    width: 150px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003753}}
  .grid .floater .horzontal {
    height: 150px;
    width: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003757}}
  .grid .floater .square_small {
    height: 150px;
    width: 150px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003761}}
  .grid .floater .square_large {
    height: 300px;
    width: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003765}}
  .grid .floater .open {
    height: 450px;
    width: 450px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003768}}
    .grid .floater .open:hover p {
      display: block; }

@-moz-document url-prefix() {}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003793}}
.isotope-item {
  z-index: 2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003795}}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003800}}
.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003808}}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mif\/Desktop\/renegade\/object\/front\/css\/master\.scss}line{font-family:\00003816}}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity; }

@-webkit-keyframes throb {
  0%, 100% {
    border: 1px white solid; }

  50% {
    border: 5px white solid; } }

@-moz-keyframes throb {
  0%, 100% {
    border: 1px white solid; }

  50% {
    border: 5px white solid; } }

@-ms-keyframes throb {
  0%, 100% {
    border: 1px white solid; }

  50% {
    border: 5px white solid; } }

@-o-keyframes throb {
  0%, 100% {
    border: 1px white solid; }

  50% {
    border: 5px white solid; } }

@keyframes throb {
  0%, 100% {
    border: 1px white solid; }

  50% {
    border: 5px white solid; } }
