/*
looking for these? :)

border-radius: 9px;

<?php include("inc/head.html"); ?>
*/
/* line 12, /Volumes/Webserver/mif/object/comingsoon/css/master.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, /Volumes/Webserver/mif/object/comingsoon/css/master.scss */
a img {
  border: none;
}

/* line 19, /Volumes/Webserver/mif/object/comingsoon/css/master.scss */
a {
  border: none;
  text-decoration: none;
}

/* line 24, /Volumes/Webserver/mif/object/comingsoon/css/master.scss */
::selection {
  /*background: #;*/
}

/* line 28, /Volumes/Webserver/mif/object/comingsoon/css/master.scss */
::-moz-selection {
  /*background: #;*/
}

/* line 32, /Volumes/Webserver/mif/object/comingsoon/css/master.scss */
.master {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  font-family: helvetica, arial, sans-serif;
  line-height: 18px;
  font-size: 14px;
}

/* line 43, /Volumes/Webserver/mif/object/comingsoon/css/master.scss */
.put {
  margin: auto;
  width: 1024px;
  height: 100%;
  position: relative;
}

/* line 50, /Volumes/Webserver/mif/object/comingsoon/css/master.scss */
.top, .middle, .bottom {
  position: relative;
  width: 100%;
  float: left;
}

@-moz-document url-prefix() {}
